.legend {
    font-family: American Typewriter, serif;
}
.page {
    width: 1425px;
    margin: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.title {
    margin: auto;
    padding: 30px;
    text-align: center;
    display: block;
    font-size: 50px;
    width: 1400px;
    font-family: Chalkduster, fantasy;
}
#right1 {
    width: 600px;
    height: 650px;
}
#right2 {
    width: 600px;
    height: 650px;
    display: none;
}
#right3 {
    width: 600px;
    height: 650px;
    display: none;
}
#paras {
    margin: 13px;
    width: 600px;
    height: 250px;
    font-size: 15px;
    color: #5a5a5a;
    line-height: 1.7;
}
#vis2 {
    width: 600px;
    height: 400px;
}
#radar {
    width: 300px;
    height: 400px;
}
#ring {
    width: 300px;
    height: 400px;
}
body {
    font-family: American Typewriter, serif;
    font-size: 10px;
    cursor: default;
    padding: 10px;
    background-color: #f1f1f1;
}
/* CSS For pipeline buttons/legend */
label {
    padding: 0.4rem;
    font-size: 14px;
    background: rgb(164, 164, 164);
    opacity: 0.6;
}
#farm:checked + label.farm {
    background: #e1874b;
}
#land:checked + label.land {
    background: #1f78b4;
}
#feed:checked + label.feed {
    background: #b4de68;
}
#process:checked + label.process {
    background: #668fff;
}
#pack:checked + label.pack {
    background: #fccde5;
}
#trans:checked + label.trans {
    background: #bfc27d;
}
#retail:checked + label.retail {
    background: #446276;
}
.pipeline-input {
    position: absolute;
    opacity: 0;
}
#histogram {
    width: 600px;
    height: 650px;
}

.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #5a5a5a;
    font-family: American Typewriter, serif;
    transform: rotate(30deg);
}

#tooltip1 {
    display: none;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 300px;
    padding: 2px;
    font-size: 10px;
    background: seashell;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
}

#tooltip2 {
    display: none;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 210px;
    padding: 2px;
    font-size: 10px;
    background: seashell;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
}

#tooltip-cloud {
    display: none;
    position: absolute;
    text-align: center;
    width: 110px;
    height: 55px;
    padding: 2px;
    font-size: 10px;
    background: seashell;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
}
